<h1> <%= @store.longName %> </h1>
<h3> Store Type: <%= @store.storeType %><br></h3>
<h3> <%= @store.address %> - <%= @store.city %>, <%= @store.region %> <%= @store.postalCode %> </h3>
<ul>
  <%= @store.hoursAmPm %>
</ul>
